
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    button {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        padding: 8px 12px;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 4px;
        &.active {
            background-color: #009999;
            color: white;
            border: 1px solid #009999;
      }
      &.disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  }
}
